@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary: #8AAAE5;
    --secondary: #ffffff;
}

*,
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    background-color: var(--secondary);
    width: 800px;
    max-width: 1000px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 4px;
}

.header {
    padding: 20px 0 0;
}

.header h3 {
    font-size: 22px;
    text-align: center;
}

.empolyee__details--form {
    padding: 20px;
}

.name,
.email,
.phone {
    position: relative;
}

.success-icon,
.failure-icon {
    position: absolute;
    right: 25px;
    top: 50%;
}

.failure-icon {
    display: none;
    font-size: 12pt;
    color: rgb(255, 30, 30);
}

.success-icon {
    display: none;
    font-size: 12pt;
    color: rgb(0, 172, 0);
}

.message {
    display: none;
    padding-left: 20px;
    font-size: 14px;
}

.show__font-r {
    display: block;
    color: rgb(255, 30, 30);
    font-size: 12px;
    font-weight: 600;
}

.show__font-g {
    display: block;
    color: rgb(0, 172, 0);
    font-size: 12px;
    font-weight: 600;
}

.name,
.email,
.phone {
    margin: 0 0 20px 0;
}

.name .form-name,
.phone .form-phone,
.email .form-email {
    border: none;
    outline: none;
    padding: 8px 0;
    width: 98%;
    margin: 12px 0;
}

.button {
    text-align: center;
}

.button .submit__btn {
    background-color: transparent;
    padding: 8px 14px;
    width: 100px;
    border: 2px solid var(--primary);
    border-radius: 2px;
    transition: transform 100ms ease-in, background-color 300ms ease-in;
    cursor: pointer;
    font-weight: 600;
}

.button .submit__btn:hover {
    background-color: var(--primary);
}

.button .submit__btn:active {
    transform: scale(0.95);
    transition: transform 100ms ease-in;
}

.empolyee__data--table td {
    text-align: center;
    padding: 15px 3px;
}

.empolyee__data--table th {
    padding: 6px 3px;
}


.edit {
    cursor: pointer;
    width: 60px;
    background-color: rgb(175, 105, 0);
    color: var(--secondary);
    font-size: 12px;
    border-radius: 2px;
    padding: 3px;
}

.delete {
    cursor: pointer;
    width: 60px;
    background-color: rgb(185, 14, 14);
    color: var(--secondary);
    font-size: 12px;
    border-radius: 2px;
    padding: 3px;
}

.overlay {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.411);
    width: 100%;
    height: 90vh;
    top: 0;
    animation: popup 600ms ease-in;
}

.popup__form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: var(--secondary);
}

.show {
    display: block;
}

.error-border {
    border-bottom: solid 1px red;
}

.success-border {
    border-bottom: solid 1px green;
}

.update__form {
    width: 100%;
}


@keyframes popup {
    0% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.close {
    position: absolute;
    cursor: pointer;
    right: 14px;
    top: 7px;
    font-size: 25px;
    color: rgb(185, 14, 14);
}

.cancel__btn {
    font-size: 14px;
    background-color: rgb(185, 14, 14);
    color: var(--secondary);
    padding: 8px 14px;
    margin-left: 20px;
    width: 100px;
    border: 2px solid var(--primary) rgb(185, 14, 14);
    border-radius: 2px;
    transition: transform 100ms ease-in, background-color 300ms ease-in;
    cursor: pointer;
    font-weight: 600;
}

.button .cancel__btn:active {
    transform: scale(0.95);
    transition: transform 100ms ease-in;
}

footer {
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 4px;
}


.footer__message {
    font-size: 14px;
    padding-bottom: 15px;
}

footer p {
    color: #a3a3a3;
    font-size: 12px;
}

@media only screen and (max-width:799px) {
    .container {
        position: static;
        transform: translate(0, 0);
        display: block;
        top: 0;
        left: 0;
    }

    .data__container {
        width: 100%;
    }

    .edit {
        font-size: 10px;
    }

    .delete {
        font-size: 10px;
    }

}

@media only screen and (max-width:599px) {
    .container {
        position: static;
        transform: translate(0, 0);
        display: block;
        top: 0;
        left: 0;
    }

    .edit {
        font-size: 8px;
    }

    .delete {
        font-size: 8px;
    }

    .data__container {
        width: 100%;
    }

    .overlay {
        height: 60vh;
    }

    .popup__form {
        width: 100%;
    }

    .update__form{
        padding: 20px;
    }

    .close{
        right: 35pc;
    }

    .empolyee__data--table th,
    td {
        font-size: 9px;
    }
}

@media only screen and (max-width:499px) {
    .edit {
        width: 35px;
        font-size: 7px;
    }

    .delete {
        width: 35px;
        font-size: 7px;
    }
}